.Input {
  display: flex;
  flex-direction: column;
  flex: 33% 1;
  gap: 12px;
  label {
    font-size: 1.3em;
    text-transform: capitalize;
    padding: 0.4em;
  }
  input {
    flex: 1;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  button {
    flex: 1;
  }
}
