.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  &.square {
    padding: 6px 16px;

    &.blue {
      background-color: var(--color--vivid-cyan-blue);
      &:hover {
        background-color: var(--color--pale-cyan-blue);
      }
    }
    &.green {
      background-color: var(--color--vivid-green-cyan);
      &:hover {
        background-color: var(--color--light-green-cyan);
      }
    }
    &.red {
      background-color: var(--color--accent);
      &:hover {
        background-color: #d55f59;
      }
    }
    &.white {
      background-color: #ffffff00;
      &:hover {
        background-color: var(--color--background);
      }
    }
  }

  &.round {
    border-radius: 50%;
    padding: 0;
    font-size: 2em;
    width: 1.4em;
    height: 1.4em;
    background-color: #ffffff00;
    &:hover {
      background-color: var(--color--background);
    }
    &.blue {
      color: var(--color--vivid-cyan-blue);
      &:hover {
        color: var(--color--pale-cyan-blue);
      }
    }
    &.green {
      color: var(--color--vivid-green-cyan);
      &:hover {
        color: var(--color--light-green-cyan);
      }
    }
    &.red {
      color: var(--color--accent);
      &:hover {
        color: #d55f59;
      }
    }
    // &.white {
    //   // color: #ffffff00;
    //   &:hover {
    //     // color: var(--color--background);
    //   }
    // }
  }
}
